[bumpversion]
current_version = 0.5.3
commit = True
message = Bump version: {current_version} → {new_version} [skip actions]
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:js/ord-schema/package.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"

[bumpversion:file:js/ord-schema-protobufjs/package.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"

[bumpversion:file:uv.lock]
search = [[package]]
	name = "ord-schema"
	version = "{current_version}"
replace = [[package]]
	name = "ord-schema"
	version = "{new_version}"
