# PyCharm files.
.idea/
# Generated docs output.
docs/_build/
# Misc python.
__pycache__
.coverage*
coverage*
*.egg-info
.ipynb_checkpoints
# vim swap files
*.sw[a-z]
# build output
/build
/dist
# Folder tracking files
.DS_Store
package-lock.json
