# PyCharm files.
.idea/
# Generated protocol buffer wrappers.
*_pb2.py
# Generated docs output.
docs/_build/
# Misc python.
__pycache__
*.egg-info
.ipynb_checkpoints
# vim swap files
*.sw[a-z]
# build output
/build
/dist
