# Copyright 2020 The Open Reaction Database Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: CI

on:
  pull_request:
    branches: 
      - master
  push:
    branches:
      - master

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Install miniconda
      uses: s-weigand/setup-conda@v1
      with:
        update-conda: true
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        conda install -c rdkit rdkit
        # NOTE(kearnes): Remove version when 2.5.0 is fixed.
        conda install pylint=2.4.4
    - name: Install ord_schema
      run: |
        cd "${GITHUB_WORKSPACE}"
        echo "$(which python)"
        python setup.py install
    - name: Run tests
      run: |
        shopt -s globstar
        cd "${GITHUB_WORKSPACE}"
        for TEST_FILENAME in ord_schema/**/*_test.py; do \
          echo "Running tests in ${TEST_FILENAME}"; \
          python "${TEST_FILENAME}"; \
        done
    - name: Run pylint
      run: |
        cd "${GITHUB_WORKSPACE}"
        pylint ord_schema
    - name: Test notebooks
      run: |
        pip install treon
        treon
        
  test_editor:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@v2
    - uses: actions/setup-node@v1.4.2
    - name: Install dependencies
      run: |
        cd "${GITHUB_WORKSPACE}"
        pip install -r requirements.txt
        pip install flask
        cd "${GITHUB_WORKSPACE}/editor"
        npm install google-protobuf puppeteer
        wget https://github.com/protocolbuffers/protobuf/releases/download/v3.12.0/protobuf-all-3.12.0.tar.gz
        tar -xzf protobuf-all-3.12.0.tar.gz
        wget https://github.com/google/closure-library/archive/v20200517.tar.gz
        tar -xzf v20200517.tar.gz
    - name: Build editor and run tests
      run: |
        cd "${GITHUB_WORKSPACE}/editor"
        make
        ./serve.sh &
        make test
