name: CI

on:
  push:
    branches: 
      - master
  pull_request:
    branches: 
      - master

jobs:
  build_and_test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up protoc
      uses: arduino/setup-protoc@v1.1.0
    - name: Install miniconda
      uses: goanpeca/setup-miniconda@v1.0.2
      with:
        python-version: '3.x'
        auto-update-conda: true
    - name: Install dependencies
      shell: bash -l {0}
      run: |
        conda install --file requirements.txt
        conda install -c rdkit rdkit
        conda install pylint
    - name: Install ord_schema
      shell: bash -l {0}
      run: |
        cd "${GITHUB_WORKSPACE}"
        python setup.py build_py
        python setup.py install
    - name: Run tests
      shell: bash -l {0}
      run: |
        shopt -s globstar
        cd "${GITHUB_WORKSPACE}"
        for TEST_FILENAME in ord_schema/**/*_test.py; do \
          echo "Running tests in ${TEST_FILENAME}"; \
          python "${TEST_FILENAME}"; \
        done
    - name: Run pylint
      shell: bash -l {0}
      run: |
        cd "${GITHUB_WORKSPACE}"
        pylint ord_schema
