# Copyright 2020 Open Reaction Database Project Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This workflow adds an "Open in Colab" badge to Jupyter notebooks.
#
# To use, add "{{ badge }}" in a Markdown cell (usually at the top of the
# notebook). See https://github.com/marketplace/actions/colab-badge-action for
# more details.
name: colab_badges

on: push

jobs:
  colab_badges:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Colab Badge Action
      uses: skearnes/colab-badge-action@v1.3
      with:
        check: all
        update: True
        target_branch: main
        target_repository: Open-Reaction-Database/ord-schema
    - name: Commit and push changes
      run: |
        cd "${GITHUB_WORKSPACE}"
        ./actions/commit_changes.sh "Add/update Colab badges"
