# This workflow adds an "Open in Colab" badge to Jupyter notebooks.
#
# To use, add "{{ badge }}" in a Markdown cell (usually at the top of the notebook).
# See https://github.com/marketplace/actions/colab-badge-action for more details.
name: colab_badges

# NOTE(kearnes): This action is incompatible with the `pull_request` event; see
# https://github.com/trsvchn/colab-badge-action/issues/3 for details.
on:
  push:
    branches-ignore: 
      - master  # master is protected.

jobs:
  # Do not use GITHUB_TOKEN here since it will not trigger events in response; see
  # https://help.github.com/en/actions/reference/events-that-trigger-workflows#triggering-new-workflows-using-a-personal-access-token.
  colab_badges:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        # See https://stackoverflow.com/a/60418414.
        token: ${{ secrets.TRIGGER_WORKFLOWS }}
    - name: Colab Badge Action
      uses: skearnes/colab-badge-action@v1.1.3
      with:
        github_token: ${{ secrets.TRIGGER_WORKFLOWS }}
        check: all
        update: True
        target_branch: master
