# Copyright 2020 Open Reaction Database Project Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: CI

on: [pull_request, push]

jobs:
  test_ord_schema:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: s-weigand/setup-conda@v1
      with:
        python-version: 3.7
    - name: Install ord_schema
      run: |
        cd "${GITHUB_WORKSPACE}"
        sudo apt update && sudo apt install -y git
        pip install -r requirements.txt
        pip install -r test_requirements.txt
        conda install -c rdkit rdkit
        # NOTE(kearnes): `develop` is required for coverage to work properly.
        python setup.py build develop
        coverage erase
    - name: Run tests
      run: |
        cd "${GITHUB_WORKSPACE}"
        ./run_tests.sh
    - name: Run long tests
      run: |
        cd "${GITHUB_WORKSPACE}"
        ./run_long_tests.sh
    - name: Coverage
      run: |
        cd "${GITHUB_WORKSPACE}"
        coverage combine
        coverage report
        coverage xml
    - uses: codecov/codecov-action@v1

  test_notebooks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: s-weigand/setup-conda@v1
        with:
          python-version: 3.7
      - name: Install ord_schema
        run: |
          cd "${GITHUB_WORKSPACE}"
          pip install -r requirements.txt
          conda install -c rdkit rdkit
          python setup.py install
      - name: Test notebooks
        run: |
          cd "${GITHUB_WORKSPACE}"
          pip install treon
          treon

  test_editor:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1.4.2
    - name: Build and launch editor
      run: |
        cd "${GITHUB_WORKSPACE}/editor"
        docker build -t ord-editor .
        docker run --rm -d -p 5000:5000 --name editor ord-editor
        # NOTE(kearnes): This also leaves time for the server to get ready.
        npm install puppeteer
    - name: Run editor tests
      timeout-minutes: 5
      run: |
        cd "${GITHUB_WORKSPACE}/editor"
        node js/test.js
    - name: Cleanup
      run: docker stop editor
